.input_css::placeholder{
    color: black;
    padding-left: 5px;
}

.fieldset_css{
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}

.input_css{
    height: 40px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px; 
    cursor: text;
}

body{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
}
.titulo_css{
    color: #696969;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    font-family: sans-serif;
}

.send_button_css{
    background-color: rgb(0, 108, 203);
    height: 50px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    border: transparent;
}

.tabela{
    margin-top: 20px; 
}

th{
    border: 2px solid rgb(214, 214, 214) ;
    height: 30px;
}
td{
    border: 2px solid rgb(214, 214, 214) ;
    height: 40px;
    text-align: left;
    padding-top: 40px;
    padding-left: 13px; 
    font-weight: bold; 
    font-family: sans-serif;
}

.email_css{
    text-align: left;
    padding-top: 20px;
    padding-left: 13px; 
    background-color: #04AA6D;
    font-weight: bold;
    color: white;
    width: 230px;
    font-family: sans-serif;
}

.nome_css{
    text-align: left;
    padding-top: 20px;
    padding-left: 13px; 
    background-color: #04AA6D;
    font-weight: bold;
    color: white;
    width: 200px;
    font-family: sans-serif;
}

.senha_css{
    text-align: left;
    padding-top: 20px;
    padding-left: 13px; 
    background-color: #04AA6D;
    font-weight: bold;
    color: white;
    width: 100px;
    font-family: sans-serif;
}

.acoes_css{
    text-align: center;
    padding-top: 20px; 
    background-color: #04AA6D;
    font-weight: bold;
    color: white;
    width: 390px;
    font-family: sans-serif;
}

.edit_button_css{
    background-color: rgb(0, 189, 155);
    font-weight: bold;
    color: white;
    width: 100px;
    border: white;
    border-radius: 3px;
    font-size: large;
    height: 40px;
    margin-left: 30px;
    cursor: pointer;
}

.delete_button_css{
    background-color: rgb(220, 0, 59);
    font-weight: bold;
    color: white;
    width: 100px;
    border: transparent;
    border-radius: 3px;
    font-size: large;
    height: 40px;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 40px;
    cursor: pointer;
}

.td_buttons_css{
    align-items: center;
}