.input_css::placeholder{
    color: black;
    padding-left: 5px;
}
.card {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.card h1 {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.card div {
    text-align: justify;
}

.fieldset_css{
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}

.input_css{
    height: 40px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

/* .form_css{
    padding-left: 300px;
} */

body{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
}
.titulo_css{
    color: #696969;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.send_button_css{
    background-color: rgb(0, 108, 203);
    height: 40px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.tabela{
    margin-top: 20px;
    
}
table{
    border: 1px solid rgb(60, 255, 0) ;
    
}
th{
    border: 1px solid rgb(81, 255, 0) ;
    width: 400px;
    height: 50px;
    text-align: left;
    padding-top: 20px;
    padding-left: 10px; 
}
td{
    border: 1px solid rgb(81, 255, 0) ;
    width: 400px;
    height: 50px;
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;  
}
.titulo{
    color: rgb(0, 153, 255);
    margin-top: 20px;
    
}